
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Message</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Contact No</label>
                        <input type="text" class="form-control" id="ContactTo" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Message</label>
                        <textarea class="form-control" id="MessageTo" rows="5"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <button type="button" class="btn btn-success pull-right" onclick="SendSMS()"><i class="fa fa-send"></i> Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Message Chats</h3>
            </div>
            <div class="box-body">
               <div class="row">
                   <div class="col-md-12">
                       <table class="table table-bordered table-hover">
                           <thead>
                               <tr>
                                   <th class="col-md-3">
                                       Contact No
                                   </th>
                                   <th class="col-md-9">
                                       Message
                                   </th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr>
                                   <td></td>
                                   <td></td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>
<script>
    function SendSMS() {
        var ContactTo = $("#ContactTo").val();
        var MessageTo = $("#MessageTo").val();
        var check = 0;
        if (ContactTo.length == 0) {
            Swal.fire(
                'warning!',
                'Enter the proper Contact No.',
                'success'
            );
            return;
        }
        if (MessageTo.length == 0) {
            Swal.fire(
                'warning!',
                'Enter the proper Message.',
                'success'
            );
            return;
        }
        if (check == 1) {
            return;
        }
         $.ajax({
             type: "POST",
             url: "/SMSContent/Create",
             data: JSON.stringify({ PhoneNo: ContactTo, Message: MessageTo }),
             contentType: "application/json; charset=utf-8",
             dataType: "json",
             async: false,
             success: function (r) {
                 if (r == "True" || r == true || r == "true") {
                     Swal.fire(
                         'warning!',
                         'Message sent successfuly!',
                         'success'
                     );
                     window.location.reload();
                 }
                 else {
                     Swal.fire(
                         'warning!',
                         'unabled to send message!',
                         'success'
                     );
                     return;
                 }

             },
             error: function (e) {
                 alert("error " + e);

             }

        });
    }
</script>