
@{
    ViewBag.Title = "Create";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="container-full">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-lg-2 col-12"></div>
                <div class="col-lg-8 col-12">
                    <div class="box">
                        <div class="box-header with-border">
                        </div>
                        <!-- /.box-header -->
                        <form class="form" action="/EmailContent/Create?ToEmail=syedabdullahbukhari321@gmail.com&Subject=AbdullahTesting" method="post">
                            <div class="box-body">
                                <button>Send Email</button>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer pull-right">
                               
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <div class="col-lg-2 col-12"></div>
            </div>

            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
</div>